<div class="form form-440">
  <div class="form-header">
    <h1>Страница, которую Вы ищите, отсутствует (404 html ошибка)</h1>
  </div>
  <div class="form-content">
    <p>
      <%= theme_image_tag("flashicons/error_middle.png", {:alt => "Error icon", :title => "Error icon"})%>
      Возможно вы опечатались в адресе или страница переехала.
    </p>
  </div>
</div>
