<div class="form form-440">
  <div class="form-header">
    <h1>We're sorry, but something went wrong (404 html error)</h1>
  </div>
  <div class="form-content">
    <p>
      <%= theme_image_tag("flashicons/error_middle.png", {:alt => "Error icon", :title => "Error icon"})%>
      We've been notified about this issue and we'll take a look at it shortly.
    </p>
  </div>
</div>
