<%= @user.login if @user %>, your account has been activated.

Now you can go to your personal section at <a href=http://<%= @runtime_settings["server_url"] %> ><%= @runtime_settings["server_name"] %></a>