<%= @user.login if @user %>, ваша учетная запись активирована.

Теперь вы можете войти в свой раздел на <a href=http://<%= @runtime_settings["server_url"] %>><%= @runtime_settings["server_name"] %></a>