<div class="basic-form-section">
  <h2>Информация для восстановления пароля</h2>
  <p>Пожалуйста введите почтовый адрес учетной записи, для которой происходит смена  пароля и следуйте инструкциям из письма для установки нового пароля.</p>
</div>
