<div class="basic-form-section">
  <h2>Информация для повторной отправки письма активации</h2>
  <p>Пожалуйста введите почтовый адрес учетной записи, для которой которой происходит активации и следуйте инструкциям из письма.</p>
</div>
