<div class="buttons-panel">
  <% ctrl = "/backoffice/website/feedbacks/pollings" %>
  <% disabled = (@announcements.size > 0 ? false : true)%>
  <%=submit_tag t("buttons.create"), :class => "submit-button", :onclick => "document.list.action='#{ctrl}/new';" %>
  <%=submit_tag t("buttons.delete"), :class => "submit-button", :onclick => "document.list.action='#{ctrl}/destroy';", :disabled => disabled %>
  <%= render :partial => "templates/paginator_with_info", :locals => { :objects => @announcements } %>
</div>
