<div class="digg_pagination">
  <div class="pager-info">
    <%= page_entries_info objects %>
  </div>
  <div class="pagination-block">
    <%= will_paginate objects, :container => false %>
  </div>
</div>

