<% content_for :meta_keywords do %>
  <title>Languages at admin task zone</title>
<% end %>

<% content_for :content_menu do %>
  <%= render :partial => "framework/settings/templates/list_menu" %>
<% end %>

<div class="window-box">
  <div class="window-header">
    <h1><%= t("activeview.messages.runtime_setting.edit") %></h1>
  </div>
  <div class="window-content">
    <%= render :partial => "templates/form_flash" %>
    <%= render :partial => "form", :locals => {
      :action_name => "update", :button_label => t("buttons.update")} %>
  </div>
</div>
