<% content_for :meta_keywords do %>
  <title>Advertisement us</title>
  <meta name="keywords" content="mirwellnessa.ru" />
  <meta name="description" content="mirwellnessa.ru" />
<% end %>

<div id="advertising" class="html-text">
  <p>
    Advertisement
  </p>
</div>
