<% content_for :meta_keywords do %>
  <title>Constact us</title>
  <meta name="keywords" content="mirwellnessa.ru" />
  <meta name="description" content="mirwellnessa.ru" />
<% end %>

<div id="contact-us">
  <p>
  	Contact us
  </p>
</div>
