<% content_for :meta_keywords do %>
  <title>Сотрудничество</title>
  <meta name="keywords" content="сотрудничество, отдел закупок, сайт mirwellnessa.ru" />
  <meta name="description" content="Информация о вариантах и способах сотрудничества с магазином MirWellnessa" />
<% end %>

<div id="cooperation" class="html-text">
  <h1>Сотрудничество с отделом закупок</h1>
  <p>
    Специалисты компании постоянно ведут работу над закупаемым ассортиментом продукции и услуг,
    корректируя его в соответствии с запросами наших клиентов, а также учитывая особенности российских потребителей.
    Мы открыты для сотрудничества и готовы рассматривать коммерческие предложения от новых поставщиков товаров или услуг:
  </p>
  <ul>
    <li>БАД-ов; </li>
    <li>спортивного питания; </li>
    <li>спортивных аксесуаров; </li>
    <li>сопутствующих товаров;   </li>
  </ul>
  <p>
    При прочих равных условиях предпочтение отдается:
  </p>
  <ul>
    <li>поставщикам, качество товаров которых выше, чем у других;</li>
    <li>поставщикам, маркетинговый фонд которых выше, чем у других;</li>
    <li>поставщикам, цены которых ниже, чем у других;</li>
    <li>поставщикам, имеющим хорошо налаженную службу доставки товаров до складов торговой точки;</li>
    <li>поставщикам, поставляющим товары по электронным накладным;</li>
    <li>поставщикам, предоставляющим наибольшую отсрочку платежа;</li>
    <li>«старым» поставщикам, имеющим равные условия по сравнению с новыми поставщиками.</li>
  </ul>

  <%#
  <h1>Франчайзинговый пакет </h1>
  <p>
    ООО MirWellnessa использует мировой опыт расширения бизнеса при помощи лицензирования.
    Создана программа лицензирования для собственной торговой марки магазинов спортивного питания «MirWellnessa».
  </p>
  <p>
    Вступая в совместный бизнес, партнер получает доступ к уникальной Системе,
    разработанной и принадлежащей лицензиару и предназначенной для создания,
    открытия и эксплуатации магазинов по стандартам сети, которая включает:
  </p>
  <ul>
    <li>технологии производства и оказания услуг спортивного питания; </li>
    <li>спецификации продукции, оборудования; </li>
    <li>дизайн и интерьер магазина; </li>
    <li>стандарты обслуживания; </li>
    <li>методы управления магазином; </li>
    <li>подготовку и обучение персонала; </li>
    <li>прочие стандарты и рекомендации по предпринимательской деятельности в сфере спортивного питания; </li>
    <li>постоянную операционную и маркетинговую поддержку в управлении и продвижении после открытия магазина. </li>
  </ul>
  <p>
    «MirWellnessa» также оказывает партнерам следующие услуги:
  </p>
  <ul>
    <li>экспертная оценка помещения или земельного участка, отведенного под строительство магазина; </li>
    <li>помощь в выборе помещений, предоставление критериев оценки и консультирование по вопросам оптимального местоположения; </li>
    <li>консультация по вопросам строительства и оформления разрешительной документации; </li>
    <li>согласование плана расстановки и спецификации оборудования; </li>
    <li>утверждение дизайн-проекта; </li>
    <li>консультация по товарообороту, среднему чеку и оборачиваемости; </li>
    <li>консультация по подбору персонала, обучение менеджерского и рядового состава. </li>
  </ul>
  <h1>Сотрудничество с отделом продаж</h1>
  <p>
    Продажа клубных карт по агентской схеме бла-бла-бла
  </p>
      %>
  <p>
    Если у вас остались вопросы, то вы можете связаться с нами, выбрав удобный для вас способ
    <%= link_to "связи", {:controller => '/welcome', :action=>"contact_us"} %>.
  </p>
</div>
