<% content_for :meta_keywords do %>
  <title>Политика конфиденциальности на сайте MirWellnessa.ru</title>
  <meta name="keywords" content="политика конфиденциальности,сайт mirwellnessa.ru"/>
  <meta name="description" content="Настоящее Положение разработано в соответствие с требованиями Гражданского кодекса Российской Федерации,
    Федерального закона «О коммерческой тайне», иных федеральных законов и нормативно-правовых актов Российской
    Федерации и имеет своей целью регулирование отношений, связанных с установлением, изменением и прекращением режима
    конфиденциальности информации."/>
<% end %>

<div class="policy">
  <h1 align="center">ПОЛОЖЕНИЕ</h1>

  <h1 align="center">о конфиденциальности</h1>

  <h2 align="right"><b>г. Санкт-Петербург 2011 год</b></h2>
  <b>Настоящее Положение разработано в соответствие с требованиями Гражданского кодекса Российской Федерации,
    Федерального закона «О коммерческой тайне», иных федеральных законов и нормативно-правовых актов Российской
    Федерации и имеет своей целью регулирование отношений, связанных с установлением, изменением и прекращением режима
    конфиденциальности информации. </b>
  <ol>
    <li><b>Понятия и термины, используемые в настоящем Положении</b>
      <ul>
        <li>1.1.В целях настоящего Положения нижеприведенные понятия и термины используются в следующем значении:
          <ul>
            <li>1.1.1. <b>Интернет-сайт</b> – информация, размещенная в информационно-телекоммуникационной сети по
              определенным
              сетевым адресам, в совокупности с комплексом исключительных прав (на доменные имена, базы данных и
              программы для электронных вычислительных машин), осуществление которых обеспечивает доступ к такой
              информации. В целях Настоящего Положения интернет-сайтом признается сайт, расположенный в сети интернет по
              адресу: <a href="http://www.MirWellnessa.ru">www.MirWellnessa.ru</a>, а также его производные;
            </li>
            <li>1.1.2. <b>Конфиденциальная информация</b> – сведения любого характера, относящиеся к личности
              Пользователей
              интернет-сайта, принадлежащих им компьютерных устройств и т.д., перечень которых установлен пунктом 2
              настоящего Положения;
            </li>
            <li>1.1.3. <b>Владелец интернет-сайта</b> – общество с ограниченной ответственностью «Гранд Сервис»,
              владеющее
              интернет-сайтом <a href="http://www.MirWellnessa.ru">www.MirWellnessa.ru</a>, предоставляющее его в пользование третьим лицам (Пользователям).
            </li>
          </ul>
        </li>
        <li>1.2. В Положении могут быть использованы понятия и термины, не определенные в пункте 1.1. настоящего
          Положения. В этих случаях толкование понятий и терминов производится в соответствии с текстом и смыслом
          данного Положения. В случае отсутствия однозначного толкования понятия и термина в тексте Положения следует
          руководствоваться положениями действующего законодательства Российской Федерации.
        </li>
      </ul>

    </li>
    <li><b>Перечень конфиденциальной информации</b>
      <ul>
        <li>2.1. В рамках пользования услугами, предоставляемыми на интернет-сайте <a href="http://www.MirWellnessa.ru">www.MirWellnessa.ru</a>, конфиденциальную
          информацию составляют следующие сведения:
          <ul>
            <li>
              2.1.1. Информация, указанная Пользователем при регистрации на интернет-сайте, в частности логин, пароль,
              электронная почта и т.д., а также полученная Владельцем интернет-сайта от Пользователя в процессе оказания
              услуг;
            </li>
            <li>2.1.2. Файлы cookie, направляемые Владельцем интернет-сайта на компьютерные устройства Пользователей в
              целях
              сохранения настроек, улучшения поиска и подбора рекламы и т.д.;
            </li>
            <li>2.1.3. Информация о посещении Пользователем страниц интернет-сайта, в частности о веб-запросах
              Пользователя,
              их датах и времени, IP-адресе его компьютерного устройства, о типе браузера Пользователя и т.д.;
            </li>
            <li>2.1.4. Сообщения Пользователям (от Пользователей), направляемые по электронной почте, SMS или иным
              способом, в
              частности номер телефона, наименование оператора сотовой связи, содержание сообщения, дата и время его
              направления;
            </li>
            <li>2.1.5. Информация, поступающая от Пользователя при включении гаджета или при запуске приложения
              независимого
              разработчика при использовании Пользователем данных средств (устройств).
            </li>
            <li>2.1.6. Иная информация, определяемая Владельцем интернет-сайта в качестве конфиденциальной.
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><b>Доступ к конфиденциальной информации</b>
      <ul>
        <li>3.1.Владелец интернет-сайта обязуется обеспечивать конфиденциальность информации, указанной в пункте 2
          настоящего Положения; принимать все необходимые и зависящие от него меры по защите такой информации от
          несанкционированного доступа третьих лиц, ее изменения, уничтожения или раскрытия.
        </li>
        <li>3.2. Конфиденциальная информация используется Владельцем интернет-сайта исключительно в целях оказания
          услуг по предоставлению в пользование интернет-сайта, повышению эффективности и качества таких услуг в
          интересах Пользователей.
        </li>
        <li>3.3. Доступ к конфиденциальной информации, указанной в пункте 2 настоящего Договора, предоставляется
          третьим лицам в следующих случаях:
          <ul>
            <li>3.3.1. При наличии согласия (разрешения) Пользователя интернет-сайта на передачу такой информации
              третьим
              лицам;
            </li>
            <li>3.3.2. по мотивированному требованию органа государственной власти, иного государственного органа,
              органа
              местного самоуправления, в частности органов прокуратуры и следствия, правоохранительных органов,
              контролирующих органов и т.д. Мотивированное требование должно быть подписано уполномоченным
              должностным
              лицом, содержать указание цели и правового основания затребования конфиденциальной информации и срок
              предоставления этой информации, если иное не установлено действующим законодательством РФ.
            </li>
            <li>3.3.3. В целях более эффективного и качественного оказания услуг по предоставлению в пользование
              интернет-сайта.
            </li>
          </ul>
        </li>
        <li>3.4. Владелец интернет-сайта самостоятельно определяет перечень своих сотрудников (работников), которые
          имеют право на доступ к конфиденциальной информации, проводит соответствующий инструктаж, знакомит их с
          порядком обращения с конфиденциальной информацией. В случаях, установленных действующим законодательством
          Российской Федерации Владелец интернет-сайта вправе привлекать своих сотрудников (работников) к
          дисциплинарной ответственности за нарушение режима конфиденциальности информации, перечень которой указан
          в пункте 2 настоящего Положения.
        </li>
      </ul>
    </li>
    <li><b>Защита конфиденциальной информации</b>
      <ul>
        <li>4.1.Меры, необходимые для защиты конфиденциальной информации, порядок и условия их осуществления
          определяются непосредственно Владельцем интернет-сайта по своему усмотрению. При этом Владелец
          интернет-сайта обязуется принимать все необходимые меры для сохранения в тайне конфиденциальной
          информации, перечень которой указан в пункте 2 настоящего Положения.
        </li>
        <li>4.2. Владелец интернет-сайта в целях защиты конфиденциальной информации от несанкционированного
          доступа к ней третьих лиц, ее уничтожения, изменения или раскрытия осуществляет следующие действия:
          <ul>
            <li>– проведение процессов сбора, хранения и обработки данных, составляющих конфиденциальную информацию;
            </li>
            <li>– принятие мер безопасности, включая соответствующее шифрование и мер по обеспечению физической
              безопасности данных;
            </li>
            <li>– обращение в соответствующие государственные органы в случае несанкционированного доступа к
              конфиденциальной информации, ее уничтожения, изменения или раскрытия;
            </li>
            <li>– иные меры.
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><b>Ответственность за разглашение конфиденциальной информации</b>
      <ul>
        <li>5.1.Лица, разгласившие конфиденциальную информацию, а также лица, нарушившие установленный
          настоящим Положением порядок доступа, защиты и хранения конфиденциальной информации, несут
          дисциплинарную, гражданско-правовую, административную или уголовную ответственность в соответствии
          с действующим законодательством РФ.
        </li>
        <li>5.2. Споры, возникающие в сфере использования, обработки, получения, доступа, хранения, защиты и
          т.д. конфиденциальной информации разрешаются в досудебном претензионном порядке. При невозможности
          урегулировании спора в досудебном претензионном порядке такой спор подлежит передаче на разрешение
          суда.
        </li>
      </ul>
    </li>
    <li><b>Сроки действия настоящего Положения</b>
      <ul>
        <li>6.1.Настоящее Положение вступает в силу с момента его размещения в сети интернет на
          интернет-сайте, указанном в пункте 1.1.1. данного Положения.
        </li>
        <li>6.2. Настоящее Положение действуют неопределенный срок и утрачивает свою силу при его
          аннулировании Владельцем интернет-сайта.
        </li>
        <li>6.3. В случае внесения изменений в Положение, такие изменения вступают в силу с момента
          опубликования новой редакции на интернет-сайте, если иной срок вступления изменений в силу не
          определен дополнительно при их публикации.
        </li>
      </ul>
    </li>
  </ol>
</div>
