<% content_for :meta_keywords do %>
  <title>Privacy policy</title>
  <meta name="keywords" content="mirwellnessa.ru" />
  <meta name="description" content="mirwellnessa.ru" />
<% end %>

<div id="publish-policy" class="html-text">
</div>





