<% content_for :meta_keywords do %>
  <title>Term Of Use</title>
  <meta name="keywords" content="Majoron, AntHill, AntHIll SMPP, AntHIll Diameter, Majoron latest news, Majoron events and announcements" />
  <meta name="description" content="Majoron expertise is focused on two following directions: networking to create set of libraries to allow uniform communication across different transports and auxiliary utilities to speedup and standardize development process in early phases." />
<% end %>


<div id="term-of-use" class="html-text">
  <h1>Term Of Use</h1>
  <h2>1. Relationship with Majoron.com</h2>
  <ul>
      <li>1.0. Unless otherwise agreed in writing with Majoron.com, your
      agreement with us will always include, at a minimum, the terms and
      conditions set out in this document. These are referred to below as
      the "Universal Terms".
      </li>
      <li>1.1. Your agreement with Majoron.com will also include the
      terms of any Legal Notices applicable to the Services,
      in addition to the Universal Terms.
      All of these are referred to below as the "Additional Terms".
      Where Additional Terms apply to a Service, these will be accessible for
      you to read either within, or through your use of, that Service.
      </li>
      <li>1.2. The Universal Terms, together with the Additional Terms, form
      a legally binding agreement between you and Majoron.com in relation
      to your use of the Services. It is important that you take the time
      to read them carefully. Collectively, this legal agreement is
      referred to below as the "Terms".
      </li>
      <li>1.3.  If there is any contradiction between what the Additional Terms
      say and what the Universal Terms say, then the Additional Terms shall
      take precedence in relation to that Service.
      </li>
  </ul>
  <h2>2. Accepting terms</h2>
  <ul>
      <li>2.0. In order to use the Services, you must first agree to the Terms.
      You may not use the Services if you do not accept the Terms.
      </li>
      <li>2.1. You can accept the Terms by:
          <ul>
          <li>(2.1.0) clicking to accept or agree to the Terms, where this option is
          made available to you by Majoron.com in the user interface
          for any Service;
          </li>
          <li>(2.1.1) by actually using the Services. In this case, you
          understand and agree that Majoron.com will treat your use of the
          Services as acceptance of the Terms from that point onwards.
          </li>
          </ul>
      </li>
      <li>2.2. You may not use the Services and may not accept the Terms if
          <ul>
          <li>2.2.0. You are not of legal age to form a binding contract with Majoron.com</li>
          <li>2.2.1. You are a person barred from receiving the Services under the
          laws countries (including the country in which you are resident or from which you use the Services.</li>
          </ul>
      </li>
      <li>2.3. Before you continue, you should print off or save a local copy of the Universal Terms for your records.</li>
  </ul>
  <h2>3. Provision of the services by Majoron.com</h2>
  <ul>
      <li>3.0. Majoron.com is constantly innovating in order to provide the
      best possible experience for its users. You acknowledge and agree that the form and
      nature of the Services which Majoron.com provides may change from time to time without prior notice to you.
      </li>
      <li>3.1. As part of this continuing innovation, you acknowledge and agree that
      Majoron.com may stop (permanently or temporarily) providing the Services
      (or any features within the Services) to you or to users generally at Majoron.com sole discretion,
      without prior notice to you.
      You may stop using the Services at any time. You do not need to
      specifically inform Majoron.com when you stop using the Services.
      </li>
      <li>3.2. You acknowledge and agree that if Majoron.com disables access to your account,
      you may be prevented from accessing the Services, your account details
      or any files or other content which is contained in your account.
      </li>
      <li>3.3. You acknowledge and agree that while Majoron.com
      can change the currently have set fixed limits or features availability
      for the Services from Majoron.com at any time,
      at Majoron.com administration discretion.
      </li>
  </ul>
  <h2>4. Use of the Services by you</h2>
  <ul>
      <li>4.0. In order to access certain Services, you may be required to provide
      information about yourself (such as identification or contact details)
      as part of the registration process for the Service,
      or as part of your continued use of the Services.
      You agree that any registration information you give to Majoron.com will always
      be accurate, correct and up to date.
      </li>
      <li>4.1. You agree to use the Services only for purposes that are permitted
      by the Terms and any applicable law, regulation or generally accepted practices
      or guidelines in the relevant jurisdictions.</li>
      <li>4.2. You agree not to access (or attempt to access) any of the Services
      by any means other than through the interface that is provided by Majoron.com,
      unless you have been specifically allowed to do so in a separate agreement with Majoron.com.
      You specifically agree not to access (or attempt to access) any of the Services
      through any automated means (including use of scripts or web crawlers).</li>
      <li>4.3. You agree that you will not engage in any activity that interferes
      with or disrupts the Services (or the servers and networks which are connected
      to the Services).</li>
      <li>4.4. Unless you have been specifically permitted to do so in a separate agreement with Majoron.com,
      you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.</li>
      <li>4.5. You agree that you are solely responsible for (and that Majoron.com has
      no responsibility to you or to any third party for) any breach of your
      obligations under the Terms and for the consequences (including any loss or damage which Majoron.com may suffer)
      of any such breach.</li>
  </ul>
  <h2>5.  Your passwords and account security</h2>
  <ul>
      <li>5.0. You agree and understand that you are responsible for
      maintaining the confidentiality of passwords associated with any account you use to access the Services.</li>
      <li>5.1. Accordingly, you agree that you will be solely responsible to Majoron.com
      for all activities that occur under your account.</li>
      <li>5.2. If you become aware of any unauthorised use of your password or of your account,
      you agree to notify Majoron.com immediately over the e-mail at support@vmeetings.com</li>
  </ul>
  <h2>6. Privacy and your personal information</h2>
  <ul>
      <li>6.0. For information about data protection practices, please read the Majoron.com
      privacy policy at <a href="privacy_policy">Privacy Policy</a> from Majoron.com.
      This policy explains how Majoron.com treats your personal information,
      and protects your privacy, when you use the Services.
      </li>
      <li>6.1. You agree to the use of your data in accordance with
      Majoron.com <a href="privacy_policy">Privacy Policy</a>.</li>
  </ul>
  <h2>7. Content in the Services</h2>
  <ul>
      <li>7.0. You understand that all information (such as data files,
      written text, computer software, music, audio files or other sounds,
      photographs, videos or other images) which you may have access to as part of,
      or through your use of, the Services are the sole responsibility
      of the person from which such content originated.
      All such information is referred to below as the "Content".
      </li>
      <li>7.1. You should be aware that Content presented to you as part of the
      Services, including but not limited to advertisements in the
      Services and sponsored Content within the Services may be protected
      by intellectual property rights which are owned by the sponsors
      or advertisers who provide that Content to Majoron.com (or by other
      persons or companies on their behalf). You may not modify, rent, lease,
      loan, sell, distribute or create derivative works based on this Content
      (either in whole or in part) unless you have been specifically told that
      you may do so by Majoron.com or by the owners of that Content,
      in a separate agreement.
      </li>
      <li>7.2. Majoron.com reserves the right (but shall have no obligation)
      to pre-screen, review, flag, filter, modify, refuse or remove any or all
      Content from any Service. For some of the Services, Majoron.com may
      provide tools to filter out explicit sexual content. In addition, there
      are commercially available services and software to limit access to material
      that you may find objectionable.</li>
      <li>7.3. You understand that by using the Services you may be
      exposed to Content that you may find offensive, indecent or objectionable
      and that, in this respect, you use the Services at your own risk.
      </li>
      <li>7.4. You agree that you are solely responsible for (and that Majoron.com has no responsibility
      to you or to any third party for) any Content that you create, transmit
      or display while using the Services and for the consequences of your
      actions (including any loss or damage which Majoron.com may suffer) by doing so.
      </li>
  </ul>
  <h2>8.  Proprietary rights</h2>
  <ul>
      <li>8.0.  You acknowledge and agree that Majoron.com own all legal right,
      title and interest in and to the Services, including any intellectual
      property rights which subsist in the Services (whether those rights happen
      to be registered or not, and wherever in the world those rights may exist).
      You further acknowledge that the Services may contain information
      which is designated confidential by Majoron.com and that you
      shall not disclose such information without Majoron.com prior written consent.
      </li>
      <li>8.1. Unless you have agreed otherwise in writing with Majoron.com,
      nothing in the Terms gives you a right to use any of Majoron.com
      trade names, trade marks, service marks, logos, domain names,
      and other distinctive brand features.</li>
      <li>8.2. Other than the limited license set forth in Section 10,
      Majoron.com acknowledges and agrees that it obtains no right,
      title or interest from you (or your licensors) under these Terms
      in or to any Content that you submit, post, transmit or
      display on, or through, the Services, including any intellectual
      property rights which subsist in that Content (whether those rights
      happen to be registered or not, and wherever in the world those rights may exist).
      Unless you have agreed otherwise in writing with Majoron.com, you agree that
      you are responsible for protecting and enforcing those rights and that
      Majoron.com has no obligation to do so on your behalf.</li>
      <li>8.3. You agree that you shall not remove, obscure, or alter any
      proprietary rights notices (including copyright and trade mark notices)
      which may be affixed to or contained within the Services.</li>
      <li>8.4. Unless you have been expressly authorised to do so in writing
      by Majoron.com, you agree that in using the Services, you will
      not use any trade mark, service mark, trade name, logo of any company
      or organisation in a way that is likely or intended to cause confusion
      about the owner or authorised user of such marks, names or logos.</li>
  </ul>
  <h2>9. License from Majoron.com</h2>
  <ul>
      <li>9.0. Majoron.com gives you a personal, worldwide,
      non-assignable and non-exclusive licence to use the software provided
      to you by Majoron.com as part of the Services as provided
      to you by Majoron.com (referred to as the "Software" below).
      This licence is for the sole purpose of enabling you to use
      and enjoy the benefit of the Services as provided by Majoron.com,
      in the manner permitted by the Terms.</li>
      <li>9.1. You may not (and you may not permit anyone else to) copy,
      modify, create a derivative work of, reverse engineer,
      decompile or otherwise attempt to extract the source code of the
      Software or any part thereof, unless this is expressly permitted
      or required by law, or unless you have been specifically told
      that you may do so by Majoron.com, in writing.</li>
      <li>9.2. Unless Majoron.com has given you specific written
      permission to do so, you may not assign (or grant a sub-licence of)
      your rights to use the Software, grant a security interest in or
      over your rights to use the Software, or otherwise transfer any
      part of your rights to use the Software.</li>
  </ul>
  <h2>10. Content licence from you</h2>
  <ul>
      <li>10.0. You retain copyright and any other rights you already hold
      in Content which you submit, post or display on or through, the Services.
      By submitting, posting or displaying the content you give Majoron.com a perpetual,
      irrevocable, worldwide, royalty-free, and non-exclusive licence to reproduce,
      adapt, modify, translate, publish, publicly perform, publicly display
      and distribute any Content which you submit, post or display on or through, the Services.
      This licence is for the sole purpose of enabling Majoron.com to display, distribute and promote the
      Services and may be revoked for certain Services as defined in the Additional Terms of those Services.</li>
      <li>10.1. You agree that this licence includes a right for Majoron.com to make such
      Content available to other companies, organizations or individuals with whom
      Majoron.com has relationships for the provision of syndicated services,
      and to use such Content in connection with the provision of those services.</li>
      <li>10.2. You understand that Majoron.com, in performing the
      required technical steps to provide the Services to our users, may:
          <ul>
              <li>10.2.0. transmit or distribute your Content over various
              public networks and in various media; </li>
              <li>10.2.1. make such changes to your Content as are necessary
              to conform and adapt that Content to the technical requirements
              of connecting networks, devices, services or media. </li>
          </ul>
      You agree that this licence shall permit Majoron.com to take these actions.</li>
      <li>10.3. You confirm and warrant to Majoron.com that you have
      all the rights, power and authority necessary to grant the above licence.</li>
  </ul>
  <h2>11. Ending your relationship with Majoron.com</h2>
  <ul>
      <li>11.0. The Terms will continue to apply until terminated by either you or Majoron.com as set out below.</li>
      <li>11.1. If you want to terminate your legal agreement with Majoron.com, you may do so by:
          <ul>
              <li>11.1.0. notifying Majoron.com at any time</li>
              <li>11.1.1. closing your accounts for all of the Services which you use, where Majoron.com has made this option available to you.</li>
          </ul>
          Your notice should be sent, in writing, to Majoron.com address which is set out at the beginning of these Terms.
      </li>
      <li>11.2. Majoron.com may at any time, terminate its legal agreement with you if:
          <ul>
              <li>11.2.0. you have breached any provision of the Terms (or have acted in manner which
              clearly shows that you do not intend to, or are unable to comply with the provisions of the Terms);</li>
              <li>11.2.1. Majoron.com is required to do so by law (for example, where the provision of the Services
              to you is, or becomes, unlawful);</li>
              <li>11.2.2. the partner with whom Majoron.com offered the Services
              to you has terminated its relationship with Majoron.com or ceased to
              offer the Services to you;</li>
              <li>11.2.3. Majoron.com is transitioning to no longer providing
              the Services to users in the country in which you are resident
              or from which you use the service;</li>
              <li>11.2.4. the provision of the Services to you by Majoron.com is, in Majoron.com opinion, no longer commercially viable.</li>
          </ul>
      </li>
  </ul>
  <h2>12. EXCLUSION OF WARRANTIES</h2>
  <ul>
      <li>12.0. NOTHING IN THESE TERMS, INCLUDING SECTIONS 12 AND 13, SHALL EXCLUDE
      OR LIMIT Majoron.com WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE
      LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO
      NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE
      LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE,
      BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES.
      ACCORDINGLY, ONLY THE LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO
      YOU AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
      </li>
      <li>12.1. YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS
      AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE".</li>
      <li>12.2. IN PARTICULAR, Majoron.com, ITS SUBSIDIARIES AND AFFILIATES, AND ITS LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT:
          <ul>
              <li>12.2.0. YOUR USE OF THE SERVICES WILL MEET YOUR REQUIREMENTS;</li>
              <li>12.2.1. YOUR USE OF THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR;</li>
              <li>12.2.2. ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE;</li>
              <li>12.2.3. THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.</li>
          </ul>
      </li>
      <li>12.2. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE
      SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY
      RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA
      THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
      <li>12.3. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM Majoron.com
      OR THROUGH OR FROM THE SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS.</li>
      <li>12.4. Majoron.com FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND,
      WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED
      WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
  </ul>
  <h2>13. LIMITATION OF LIABILITY</h2>
  <ul>
      <li>13.0. SUBJECT TO OVERALL PROVISION IN PARAGRAPH 12.0 ABOVE, YOU EXPRESSLY UNDERSTAND
      AND AGREE THAT Majoron.com, ITS SUBSIDIARIES AND AFFILIATES,
      AND ITS LICENSORS SHALL NOT BE LIABLE TO YOU FOR:
          <ul>
              <li>13.0.0. ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL
              OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU,
              HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY.. THIS SHALL INCLUDE,
              BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY),
              ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED,
              COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS;</li>
              <li>13.0.1. ANY LOSS OR DAMAGE WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS OR DAMAGEAS A RESULT OF:
                  <ul>
                      <li>13.0.1.0. ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF
                      ANY ADVERTISING, OR AS A RESULT OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY
                      ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON THE SERVICES;</li>
                      <li>13.0.1.1. ANY CHANGES WHICH Majoron.com MAY MAKE
                      TO THE SERVICES, OR FOR ANY PERMANENT OR TEMPORARY
                      CESSATION IN THE PROVISION OF THE SERVICES
                      (OR ANY FEATURES WITHIN THE SERVICES);</li>
                      <li>13.0.1.2. THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE,
                      ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED BY OR
                      THROUGH YOUR USE OF THE SERVICES;</li>
                      <li>13.0.1.3. YOUR FAILURE TO PROVIDE Majoron.com WITH ACCURATE
                      ACCOUNT INFORMATION;</li>
                      <li>13.0.1.4. YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL;</li>
                  </ul>
              </li>
          </ul>
      </li>
      <li>13.1. THE LIMITATIONS ON Majoron.com LIABILITY TO YOU IN PARAGRAPH 15.1 ABOVE SHALL APPLY WHETHER OR NOT Majoron.com HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.</li>
  </ul>
  <h2>14. Changes to the Terms</h2>
  <ul>
      <li>14.0. Majoron.com may make changes to the Universal Terms or Additional Terms
      from time to time. When these changes are made, Majoron.com will make a new copy
      of the Universal Terms and any new Additional Terms will be made
      available to you.</li>
      <li>14.1. You understand and agree that if you use the Services after
      the date on which the Universal Terms or Additional Terms have changed,
      Majoron.com will treat your use as acceptance of
      the updated Universal Terms or Additional Terms.</li>
  </ul>
  <h2>15. General legal terms</h2>
  <ul>
      <li>15.0. Sometimes when you use the Services, you may (as a result of,
      or through your use of the Services) use a service or download a
      piece of software, or purchase goods, which are provided by another
      person or company. Your use of these other services, software or
      goods may be subject to separate terms between you and the company
      or person concerned. If so, the Terms do not affect your legal
      relationship with these other companies or individuals.</li>
      <li>15.1. The Terms constitute the whole legal agreement between you
      and Majoron.com and govern your use of the Services (but excluding
      any services which Majoron.com may provide to you under a separate written
      agreement), and completely replace any prior agreements between you
      and Majoron.com in relation to the Services.</li>
      <li>15.2. You agree that Majoron.com may provide you with notices,
      including those regarding changes to the Terms, by email,
      regular mail, or postings on the Services.</li>
      <li>15.3. You agree that if Majoron.com does not exercise or enforce
      any legal right or remedy which is contained in the Terms (or which
      Majoron.com has the benefit of under any applicable law),
      this will not be taken to be a formal waiver of the Majoron.com rights
      and that those rights or remedies will still be available to Majoron.com.</li>
      <li>15.4. If any court of law, having the jurisdiction to decide on this
      matter, rules that any provision of these Terms is invalid,
      then that provision will be removed from the Terms without affecting the rest
      of the Terms. The remaining provisions of the Terms will continue to be
      valid and enforceable.</li>
      <li>15.5. You acknowledge and agree that each member of the group of companies of
      which Majoron.com is the parent shall be third party beneficiaries to the
      Terms and that such other companies shall be entitled to directly enforce,
      and rely upon, any provision of the Terms which confers a benefit on (or rights
      in favor of) them. Other than this, no other person or
      company shall be third party beneficiaries to the Terms.</li>
  </ul>
  <i>May 01, 2008</i>
</div>
