/*
 * Content list styles
 *   Layout and navigation styles
 *     Common primitives styles
 *     Common layout styles
 *     Page container styles
 *     Top header styles
 *     Breadcrumbs styles
 *     Meta menu styles
 *     Main header styles
 *     Main logotype styles
 *     Main search styles
 *     Main menu styles
 *     Sub menu styles
 *     Tabular menu styles
 *     List menu styles
 *     Slide menu styles
 *     Main footer styles
 *     System flash styles
 *   Content and advertisement styles
 *     Common content styles
 *     Common html text styles
 *     Google advertisement styles
 *     Tiny mce editor styles
 *     Tiny mce styles
 *     Window box styles
 *     Polling styles
 *     Support page styles
 *     Github ribbon styles
 *     Labeled icons styles
 *     News and event styles
 *     Codec menu styles
 *     List items styles
 *     Filter for list styles
 *     Paging for list styles
 *     Form's flash styles
 *     Form's element styles
 *     Error processing styles
 *   Special pages styles
 *     AntHill welcome styles
 *     Google search styles
 *     Sitemap page styles
 *     Term of use styles
 *     Html error page styles
 */
/*
 * Layout and navivation styles.
 */

/* =Common primitives styles
 * This section contains
 * X
 */

*
  margin: 0px
  padding: 0px

html
  min-height: 100%
  max-height: 100%
  height: 100%

body
  color: #3d3d3d
  background: #e6e6e6
  font-family: Arial
  font-size: 12px

form
  border: none

fieldset
  border: none

img
  border: none
  font-size: 70%

a
  outline: none
  color: #384D64
  font-weight: bold
  text-shadow: 1px 1px 0 white

a:hover
  text-decoration: none

textarea
  border: 1px solid #949494
  color: #545454
  font-size: 12px
  height: 90px

input[type=text]
  border: 1px solid #949494
  color: #545454
  background: url(/assets/primitives/input_bg.png) top repeat-x #f0f0f0
  font-size: 12px
  height: 20px

input[type=submit]
  background: url(/assets/primitives/btn_bg_white.png)
  border: 1px solid #E8E8E8
  font-family: "trebuchet MS", Arial, Helvetica, sans-serif
  font-size: 11px
  padding: 2px 10px 5px
  height: 24px
  cursor: hand

input[type=password]
  border: 1px solid #949494
  color: #545454
  background: url(/assets/primitives/input_bg.png) top repeat-x #f0f0f0
  font-size: 12px
  height: 20px

select
  background: #e4e4e4
  border: 1px #949494 solid
  font-family: "trebuchet MS", Arial, Helvetica, sans-serif
  font-size: 11px
  height: 22px
  background: url(/assets/primitives/input_bg.png) top repeat-x #f0f0f0

textarea
  border: 1px solid #949494
  color: #545454
  background: url(/assets/primitives/textarea_bg.png) top repeat-x #f0f0f0
  font-size: 12px


/* =Common layout styles
 * This section contains
 * X
 */
.clear
  clear: both

.right
  clear: right

.left
  clear: left


/* =Page container styles
 * This section contains
 * X
 */
#container
  margin: auto
  width: 100%
  border: 1px
  background: url(/assets/decorators/container_bg.png) repeat-x
  #content
    overflow: hidden
    background: #f9f9f9
    margin: 0 auto
    padding: 10px 20px 30px
    width: 1060px
    #navigation
      float: left
      width: 160px
      margin: 10px 0px
    #advertisement
      float: right
      width: 18%
      margin: 0 0px 17px 18px
    >.html-text
      margin: 10px auto auto 165px
      width: 80%
      h1
        margin-bottom: 7px
      p
        text-indent: 12px
        margin-bottom: 5px
      b
        color: #4B6689
        font-size: 14px
        margin: 10px 0 5px
      >ul
        margin-top: 5px
  a
    color: #5b7a9d
    text-shadow: 0

/* =Top header styles
 * This section contains
 * X
 */
#top-header
  height: 23px
  width:  1100px
  margin: 0 auto
  font-size: 75%
  padding-top: 16px
  color: #1D636F
  a
    color: #1D636F
    text-decoration: none
  a:hover
    text-decoration: underline

/* =Breadcrumbs styles
 * This section contains breadcrumb's styles for markup
 * <div id="breadcrumbs">
 *   <span>You are here:</span> <%= render_breadcrumbs %>
 * </div>
 */
#breadcrumbs
  float: left
  span
    float: left
    font-size: 120%
  ul.breadcrumbs
    float: left
    li
      border: 1px
      float: left
      list-style: none
      margin-left: 5px
    li.first_breadcrumb_item
      border: 1px
      font-weight: bold
      color: #384d64
      text-shadow: 1px 1px 0px #fff
      font-size: 12px
      font-family: Arial
    li.first_breadcrumb_item
      a:hover
        text-decoration: none
    li.last_breadcrumb_item
      a
        font-weight: bold
        color: #384d64
        text-shadow: 1px 1px 0px #fff
        font-size: 12px
        font-family: Arial
      span
        font-weight: bold

/* =Meta menu styles
 * This section contains
 * X
 * TODO: rewrite as nested rules
 */
#nav, #nav ul
  list-style: none
  float: right
  font-weight: bold
  float: right

#nav li
  float: left
  position: relative
  height: 24px

#nav a
  display: block
  padding: 0 10px
  color: #384d64
  text-shadow: 1px 1px 0px #fff
  font-size: 12px
  font-family: Arial
  text-decoration: none

#nav a:hover
  text-decoration: none

#nav li ul
  display: none
  position: absolute
  padding: 8px 0
  width: 95px
  background: #e6e6e6
  border-bottom: 1px solid #d4d2d2
  border-right: 1px solid #d4d2d2
  border-left: 1px solid #d4d2d2
  margin-top: 7px

#nav li li a
  float: left
  font-size: 10px

#nav li:hover ul
  display: block

/* =Main header styles
 * This section contains
 * X
 */
#header
  border: 1px
  color: red
  clear: both
  width:  1100px
  margin: 0 auto
  height: 51px
  background: url(/assets/decorators/under_menu.png) repeat-x bottom
  padding-bottom: 10px

/* =Main logotype styles
 * This section contains
 * X
 */
#main-logotype
  float: left
  margin-left: 5px

/* =Main search styles
 * This section contains
 * X
 */
#main-search
  float: right
  .search-input
    float: left
    height: 24px
    width: 112px
    margin-right: 4px
    padding: 2px
    border-left: 1px solid #cecdcd
    border-right: 1px solid #cecdcd
    border-bottom: 1px solid #b5b4b4
    border-top: 1px solid #e7e5e5
    -moz-border-radius: 3px 3px 3px 3px
    -webkit-border-radius: 3px 3px 3px 3px
    border-radius: 3px 3px 3px 3px
    width: 173px
    margin-top: 7px
  .search-button
    float: left
    font-weight: bold
    height: 30px
    width: 30px
    text-indent: -1000px
    color: #0A5666
    border: 0px
    background: url(/assets/buttons/search_on_site.png) no-repeat #576f89
    margin-top: 7px

/* =Main menu styles
 * This section contains
 * X
 */
#main-menu-box
  float: left
  margin-left: 40px
#main-menu
  display: inline
  li
    display: inline
    list-style-type: none
    height: 45px
    span
      a
        color: #dddddd
        text-shadow: -1px -1px 0px #2c4e61
        border-left: 1px solid #cecdcd
        border-right: 1px solid #cecdcd
        border-bottom: 0px
        border-top: 1px solid #fafafa
        background: -o-linear-gradient(#428eb5,#5a6f88)
        background: -webkit-gradient(linear,0% 0%,0% 100%, from(#428eb5), to(#5a6f88))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428eb5', endColorstr='#5a6f88')
        background: -moz-linear-gradient(top,  #428eb5,  #5a6f88)
        border-radius: 3px 3px 0px 0px
        -moz-border-radius: 3px 3px 0px 0px
        -webkit-border-radius: 3px 3px 0px 0px
        height: 20px
      a:hover
        color: #dddddd
  a
    -moz-border-radius: 3px 3px 3px 3px
    -webkit-border-radius: 3px 3px 3px 3px
    border-radius: 3px 3px 3px 3px
    border-left: 1px solid #cecdcd
    border-right: 1px solid #cecdcd
    border-bottom: 1px solid #b5b4b4
    border-top: 1px solid #e7e5e5
    float: left
    height: 30px
    text-shadow: 1px 1px 0px #fff
    color: #384d64
    font-size: 16px
    background: -o-linear-gradient(#f6f4f4,#e0dfdf)
    background: -webkit-gradient(linear,left top,left bottom, from(#f6f4f4), to(#e0dfdf))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f4f4', endColorstr='#e0dfdf')
    background: -moz-linear-gradient(top,  #f6f4f4,  #e0dfdf)
    font-weight: bold
    height: 10px
    padding: 5px 10px 15px 10px
    margin-left: 10px
    margin-top: 7px
    text-decoration: none
  a:hover
    color: #034b9b
#main-menu
  a:hover
    text-decoration: none

/* =Sub menu styles
 * This section contains
 * X
 */
#sub-menu-box
  width: 1100px
  margin: 0 auto
#sub-menu
  display: inline
  clear: both
  background: -o-linear-gradient(#5a6f88,#497590)
  background: -webkit-gradient(linear,left top,left bottom, from(#5a6f88), to(#497590))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a6f88', endColorstr='#497590')
  background: -moz-linear-gradient(top,  #5a6f88,  #497590)
  clear: both
  float: left
  margin: -13px auto 0
  height: 50px
  overflow: hidden
  width:  1100px
  li
    display: inline
    list-style-type: none
    height: 45px
    span
      a
        background: -moz-linear-gradient(center top , #F6F4F4, #E0DFDF) 0 0 transparent
        background: -o-linear-gradient(#F6F4F4, #E0DFDF)
        background: -webkit-gradient(linear,left top,left bottom, from(#F6F4F4), to(#E0DFDF))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F4F4', endColorstr='#E0DFDF')
        color: #993300
        text-shadow: 1px 1px #efefef
    a
      -moz-border-radius: 3px 3px 3px 3px
      -webkit-border-radius: 3px 3px 3px 3px
      border-radius: 3px 3px 3px 3px
      border-color: 1px solid #95a2aa
      border-top: 1px solid #e7e5e5
      border-right: 1px solid #95a2aa
      border-bottom: 1px solid #7b919e
      float: left
      height: 30px
      text-shadow: -1px -1px 0px #616469
      color: #e2e1e1
      font-size: 14px
      background: -o-linear-gradient(#aaadb2 , #798290)
      background: -webkit-gradient(linear,left top,left bottom, from(#aaadb2), to(#798290))
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaadb2', endColorstr='#798290')
      background: -moz-linear-gradient(top,  #aaadb2,  #798290)
      font-weight: bold
      height: 8px
      padding: 5px 10px 15px 10px
      margin-left: 10px
      margin-top: 10px
      text-decoration: none
    a:hover
      text-decoration: none

/* =Tabular menu styles
 * This section contains
 * X
 */
#tabular-menu-box
  width: 1100px
  margin: 0 auto
#tabular-menu
  display: inline
  clear: both
  background: -o-linear-gradient(#5a6f88,#497590)
  background: -webkit-gradient(linear,left top,left bottom, from(#5a6f88), to(#497590))
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a6f88', endColorstr='#497590')
  background: -moz-linear-gradient(top,  #5a6f88,  #497590)
  clear: both
  float: left
  margin: -13px auto 0
  height: 50px
  overflow: hidden
  width:  1100px
  li
    display: inline
    list-style-type: none
    height: 45px
    span
      a
        background: -moz-linear-gradient(center top , #F6F4F4, #E0DFDF) 0 0 transparent
        background: -o-linear-gradient(#F6F4F4, #E0DFDF)
        background: -webkit-gradient(linear,left top,left bottom, from(#F6F4F4), to(#E0DFDF))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F4F4', endColorstr='#E0DFDF')
        color: #993300
        text-shadow: 1px 1px #efefef
    a
      -moz-border-radius: 3px 3px 3px 3px
      -webkit-border-radius: 3px 3px 3px 3px
      border-radius: 3px 3px 3px 3px
      border-color: 1px solid #95a2aa
      border-top: 1px solid #e7e5e5
      border-right: 1px solid #95a2aa
      border-bottom: 1px solid #7b919e
      float: left
      height: 30px
      text-shadow: -1px -1px 0px #616469
      color: #e2e1e1
      font-size: 14px
      background: -o-linear-gradient(#aaadb2 , #798290)
      background: -webkit-gradient(linear,left top,left bottom, from(#aaadb2), to(#798290))
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaadb2', endColorstr='#798290')
      background: -moz-linear-gradient(top,  #aaadb2,  #798290)
      font-weight: bold
      height: 8px
      padding: 5px 10px 15px 10px
      margin-left: 10px
      margin-top: 10px
      text-decoration: none
    a:hover
      text-decoration: none

/* =List menu styles
 * This section contains
 * X
 */
#list-menu-box
  #list-menu-title
    -moz-border-radius: 3px 3px 0 0
    -webkit-border-radius: 3px 3px 0 0
    border-radius: 3px 3px 0 0
    border-left: 1px solid #95a2aa
    border-top: 1px solid #e7e5e5
    border-right: 1px solid #95a2aa
    border-bottom: 1px solid #7b919e
    text-shadow: -1px -1px 0px #616469
    padding: 5px 0 0
    margin-right: 10px
    margin-bottom: -2px
    background: -o-linear-gradient(#aaadb2,#798290)
    background: -webkit-gradient(linear,left top,left bottom, from(#aaadb2), to(#798290))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaadb2', endColorstr='#798290')
    background: -moz-linear-gradient(top,  #aaadb2,  #798290)
    font-size: 14px
    font-weight: bold
    color: #F6F6F6
    text-shadow: -1px -1px 1px #72797B
    padding: 7px 10px
  #list-menu
    overflow: hidden
    border-right: 1px solid #c8c7c7
    border-left: 1px solid #c8c7c7
    border-top: 1px solid #c8c7c7
    border-bottom: 1px solid #b5b4b4
    border-radius: 0px 0px 3px 3p
    -moz-border-radius: 0px 0px 3px 3px
    -webkit-border-radius: 0px 0px 3px 3p
    background: -o-linear-gradient(#fdfdfd,#efefef)
    background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
    background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
    padding: 0
    margin: 0px 10px 0 0
    li
      list-style-type: none
      a
        padding: 10px 10px
        background: -o-linear-gradient(#fdfdfd,#efefef)
        background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
        background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
        color: #3D3D3D
        text-decoration: none
        display: block
      span
        a
          background: -o-linear-gradient(#e5e5e5,#e7e7e7)
          background: -webkit-gradient(linear,left top,left bottom, from(#e5e5e5), to(#e7e7e7))
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e7e7e7')
          background: -moz-linear-gradient(top,  #e5e5e5,  #e7e7e7)
          color: #993322
          text-shadow: 0
  #list-menu-caption
    -moz-border-radius: 3px 3px 0 0
    -webkit-border-radius: 3px 3px 0 0
    border-radius: 3px 3px 0 0
    border-left: 1px solid #C8C7C7
    border-top: 1px solid #e7e5e5
    border-right: 1px solid #C8C7C7
    border-bottom: 1px solid #7b919e
    text-shadow: -1px -1px 0px #616469
    margin-bottom: -2px
    margin-right: 10px
    #list-menu-title
      color: #F6F6F6
      text-shadow: -1px -1px 1px #72797B
      padding: 5px 10px
      margin: -1px
  .list-menu-icon
    background: -o-linear-gradient(#fdfdfd,#efefef)
    background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
    background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
    overflow: hidden
    >img
      margin: 10px
      width: 130px

/* =Slide menu styles
 * This section contains
 * X
 */
#slide-menu-box
  #slide-menu-title
    -moz-border-radius: 3px 3px 0 0
    -webkit-border-radius: 3px 3px 0 0
    border-radius: 3px 3px 0 0
    border-left: 1px solid #95a2aa
    border-top: 1px solid #e7e5e5
    border-right: 1px solid #95a2aa
    border-bottom: 1px solid #7b919e
    text-shadow: -1px -1px 0px #616469
    padding: 5px 0 0
    margin-right: 10px
    margin-bottom: -2px
    background: -o-linear-gradient(#aaadb2,#798290)
    background: -webkit-gradient(linear,left top,left bottom, from(#aaadb2), to(#798290))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaadb2', endColorstr='#798290')
    background: -moz-linear-gradient(top,  #aaadb2,  #798290)
    font-size: 14px
    font-weight: bold
    color: #F6F6F6
    text-shadow: -1px -1px 1px #72797B
    padding: 7px 10px
  #slide-menu
    overflow: hidden
    border-right: 1px solid #c8c7c7
    border-left: 1px solid #c8c7c7
    border-top: 1px solid #c8c7c7
    border-bottom: 1px solid #b5b4b4
    border-radius: 0px 0px 3px 3p
    -moz-border-radius: 0px 0px 3px 3px
    -webkit-border-radius: 0px 0px 3px 3p
    background: -o-linear-gradient(#fdfdfd,#efefef)
    background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
    background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
    padding: 0
    margin: 0px 10px 0 0
    li
      list-style-type: none
      a
        padding: 10px 10px
        background: -o-linear-gradient(#fdfdfd,#efefef)
        background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
        background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
        color: #3D3D3D
        text-decoration: none
        display: block
      span
        a
          background: -o-linear-gradient(#e5e5e5,#e7e7e7)
          background: -webkit-gradient(linear,left top,left bottom, from(#e5e5e5), to(#e7e7e7))
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e7e7e7')
          background: -moz-linear-gradient(top,  #e5e5e5,  #e7e7e7)
          color: #993322
          text-shadow: 0
  #slide-menu-caption
    -moz-border-radius: 3px 3px 0 0
    -webkit-border-radius: 3px 3px 0 0
    border-radius: 3px 3px 0 0
    border-left: 1px solid #C8C7C7
    border-top: 1px solid #e7e5e5
    border-right: 1px solid #C8C7C7
    border-bottom: 1px solid #7b919e
    text-shadow: -1px -1px 0px #616469
    margin-bottom: -2px
    margin-right: 10px
    #slide-menu-title
      color: #F6F6F6
      text-shadow: -1px -1px 1px #72797B
      padding: 5px 10px
      margin: -1px
  .slide-menu-icon
    background: -o-linear-gradient(#fdfdfd,#efefef)
    background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
    background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
    overflow: hidden
    >img
      margin: 10px
      width: 130px


/* =Main footer styles
 * This section contains
 * X
 */

#footer
  width:  1100px
  margin: 0 auto
  border: 1px
  margin-top: 14px
  text-align: center
  color: #384d64
  text-shadow: 1px 1px 0px #fff
  font-size: 12px
  font-family: Arial
  line-height: 30px
  font-weight: bold
  .copyright
    margin-top: -6px
    font-weight: normal
  a
    color: #384d64
    text-shadow: 1px 1px 0px #fff
    font-size: 12px
    font-family: Arial

/* =System flash styles
 * This section contains
 * X
 */

#system-flash
  overflow: hidden
  width: 1100px
  margin: 0 auto
  background: #F9F9F9
  > div
    padding: 20px 20px 10px
    background: #F0F0F0
    border-radius: 5px
    border: 3px solid #c4c4c4
    width: 865px
    margin: 20px auto 0
  .notice
    background: url(/assets/flashicons/notice_small.png) 18px 20px no-repeat
    min-height: 30px
    padding-left: 45px
  .information
    background: url(/assets/flashicons/information_small.png) 18px 20px  no-repeat
    min-height: 30px
    padding-left: 45px
  .warning
    background: url(/assets/flashicons/warning_small.png) 18px 20px no-repeat
    min-height: 30px
    padding-left: 45px
  .error
    background: url(/assets/flashicons/error_small.png) 18px 20px  no-repeat
    min-height: 30px
    padding-left: 45px
  .fatal
    background: url(/assets/flashicons/fatal_small.png) 18px 20px  no-repeat
    min-height: 30px
    padding-left: 45px

/*
 * Content and advertisement styles
 */

/* =Common content styles
 * This section contains
 * X
 */
#main-content
  overflow: hidden
  padding-left: 10px
  h1
    font-size: 16px
    color: #993322
    margin: 10px 0
  > h2
    padding-left: 0px !important
  h2
    font-size: 14px
    color: #4b6689
    margin: 10px 0 5px
  h3
    font-style: italic
    font-size: 100%
    font-weight: normal
    margin: 5px 0
  p
    text-indent: 10px
    margin-top: 4px
  > p
    margin: 4px 0
  > ul
    li
      list-style: none
      padding-left: 13px
      margin-top: 5px
      background: transparent url(/assets/decorators/square.png) no-repeat left -1px
  table
    clear: both
    border: 1px solid #C8C7C7
    border-collapse: collapse
    table-layout: fixed
    margin: 10px 0 0 0
    background: #f8f8f8
    th
      padding: 6px 3px
      background: #e5e5e5
      font-weight: bold
      text-align: left
      a
        color: #3D3D3D
    table
      border: 0
      margin: 0 !important
      td
        padding: 0
        border: 0
    td
      border: 1px solid #C8C7C7
      padding: 3px
      border-bottom: 1px dotted #DCDCDC
  .caption
    margin-top: 10px
  .not-maintained
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    font-size: 120%
  .project-overview
    background: url(/assets/decorators/left_arrow_plate.png) no-repeat
    color: #5D6689
    float: left
    font-size: 10px
    line-height: 100%
    margin-top: 20px
    padding: 4px 7px 10px 9px
    width: 60px
  .project-about
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    background: #fefdfd
    border: 1px solid #EEEEEE
    margin-left: 42px
    min-height: 40px
    padding: 15px 20px 25px 33px
    width: 573px
    clear: right
    p
      text-indent: 10px
      margin-top: 4px

/* =Common html text styles
 * This section contains
 * X
 */
.html-text
  margin: 10px 0

.html-text h1
  color: #a40304
  font-weight: normal
  font-size: 22px

.html-text h2
  text-indent: 12px
  font-size: 14px
  color: black
  font-weight: normal
  margin: 5px 0

.html-text p
  color: black

.html-text p strong
  font-weight: bold

.html-text ul
  margin: 12px 0px
  list-style: none

.html-text ul li
  background: url(/assets/decorators/square.png) left top no-repeat
  padding-left: 15px


/* =Google advertisement styles
 * This section contains
 * X
 */
.window-box .skyscraper-content.window-content
  background: #F9F9F9 !important

.leaderboard-ad
  width: 90%
  margin-top: 20px

.banner-ad
  width: 90%
  margin-left: 70px
  margin-top: 15px

/* =Tiny mce editor styles
 * This section contains
 * X
 */
.mceEditor
  float: left
  table
    margin-top: 0px !important
.defaultSkin
  .mceButton
    border: 0 !important
  .mceIframeContainer
    padding: 0px !important

/* =Tiny mce styles
 * This section contains
 * X
 */

.tiny_mce
  margin-top: 10px
  h2
    margin-left: 0px
    margin-bottom: 5px
    margin-left: 14px
  h3
    font-weight: bold
    color: #0b0b0b
    margin-left: 14px
    padding: 3px 12px !important
  h4
    font-weight: bold
    color: #0b0b0b
    font-style: italic
    margin-left: 14px
  p
    text-indent: 12px
  ul
    list-style: none
    margin-left: 7px
    li
      background: url(/assets/decorators/square.png) left top no-repeat
      padding-left: 15px


/* =Window box styles
 * This section contains
 * X
 */
.window-box
  margin: 0px auto
  .window-header
    -moz-border-radius: 3px 3px 0px 0px
    -webkit-border-radius: 3px 3px 0px 0px
    border-radius: 3px 3px 0px 0px
    border-left: 1px solid #95a2aa
    border-top: 1px solid #e7e5e5
    border-right: 1px solid #95a2aa
    border-bottom: 1px solid #7b919e
    text-shadow: -1px -1px 0px #616469
    color: #e2e1e1
    font-size: 14px
    background: -o-linear-gradient(#aaadb2,#798290)
    background: -webkit-gradient(linear,left top,left bottom, from(#aaadb2), to(#798290))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaadb2', endColorstr='#798290')
    background: -moz-linear-gradient(top,  #aaadb2,  #798290)
    font-weight: bold
    padding: 5px 10px
    margin-top: 10px
    h1, h2
      font-size: 14px !important
      color: #e2e1e1 !important
      margin: 0 0!important
      padding: 0.5px !important
  .window-content
    overflow: hidden
    text-align: left
    border-right: 1px solid #c8c7c7
    border-left: 1px solid #c8c7c7
    border-bottom: 1px solid #b5b4b4
    border-radius: 0px 0px 3px 3px
    -moz-border-radius: 0px 0px 3px 3px
    -webkit-border-radius: 0px 0px 3px 3px
    padding: 10px 10px 18px
    background: -o-linear-gradient(#fdfdfd,#efefef)
    background: -webkit-gradient(linear,left top,left bottom, from(#fdfdfd), to(#efefef))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef')
    background: -moz-linear-gradient(top,  #fdfdfd,  #efefef)
    ul
      margin: 0 !important
      li
        padding: 5px 0
        list-style-type: none
        a
          color: #19616D
    >h2+ul
      li
        background: url("/assets/decorators/square.png") no-repeat scroll left 3px transparent
        list-style: none outside none
        padding-left: 13px
        margin-left: 0px
    h2
      margin: 0 10px !important
      padding: 5px 0 !important
      border-bottom:  1px solid #d5d5d5
    h2+ul
      margin-left: 10px !important
  input[type=submit]
    color: #dddddd
    text-shadow: -1px -1px 0px #2c4e61
    order-left: 1px solid #cecdcd
    border-right: 1px solid #cecdcd
    border-bottom: 0px
    border-top: 1px solid #fafafa
    background: -o-linear-gradient(#428eb5,#5a6f88)
    background: -webkit-gradient(linear,left top,left bottom, from(#428eb5), to(#5a6f88))
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#428eb5', endColorstr='#5a6f88')
    background: -moz-linear-gradient(top,  #428eb5,  #5a6f88)
    border-radius: 3px 3px 3px 3px
    -moz-border-radius: 3px 3px 3px 3px
    -webkit-border-radius: 3px 3px 3px 3px
    font-size: 12px
  p
    text-indent: 0px !important 

.window-box-400
  width: 450px

.window-2-column
  float: left
  margin-right: 10px
  width: 48.5%

/* =Polling styles
 * This section contains
 * X
 */
#polling
  form
    margin-top: 0
  #polling-answer
    input[type=submit]
      border-left: 1px solid #BBBBBB
      border-right: 1px solid #BBBBBB
      border-top: 1px solid #DDDDDD
      color: #3d3d3d
      text-shadow: -1px -1px 0 #EEEEEE
      background: -o-linear-gradient(#428eb5,#5a6f88)
      background: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#aaa))
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee',endColorstr='#aaa')
      background: -moz-linear-gradient(top,#eee,#aaa)
  ul
    margin-left: 10px !important
  .polling-answer
    font-weight: bold
    display: block
  .progress-bar
    width: 120px
    border: 1px solid #d6d6d6
    background: #fffdfe
    height: 12px
    float: left
    margin-right: 10px
  .public-view
    width: 100px
  img
    height: 12px
  .polling-result
    font-weight: bold
    color: #993322
  input[type=submit]
    margin-left: 10px !important

/* =Support page styles
 * This section contains
 * X
 */
#support
  ul
    li
      background: url("/assets/decorators/square.png") no-repeat scroll left -1px transparent
      list-style: none outside none
      margin-top: 5px
      margin-bottom: 5px
      padding: 0 0 0 13px
  .contact-note
    clear: both
    padding-top: 15px

/* =Github ribbon styles
 * This section contains
 * X
 */
#github-ribbon
  left: 49px
  margin-bottom: 50px
  margin-top: -134px
  position: relative
  img
    border: 0 !important

/* =Labeled icons styles
 * This section contains
 * X
 */
.labeled-icons
  display: table-cell
  width: 100%
  padding: 10px 0
  a
    text-decoration: none
    float: left
    margin-right: 5px
    text-align: center
    width: 100px
    span
      display: block
      text-decoration: underline
      font-size: 10px
      width: 100px

/* =News and event styles
 * This section contains
 * X
 */
.news-events
  font-weight: normal
  border-bottom: 1px solid #eeeeee
  padding: 9px 0
  .date
    color: #0A5666
    font-weight: bold
    margin-top: 15px

.headline-news
  padding-bottom: 5px
  font-weight: small
  .date
    color: #0A5666
    font-weight: normal
    margin-top: 15px

/* =Codec menu styles
 * This section contains
 * X
 */
.codec-menu
  float: right
  margin-right: -6px
  margin-top: -24px

/* =List items styles
 * This section contains
 * X
 */
#list
  padding: 10px
  border-top: 0px
  .list-table
    clear: both
    border-collapse: collapse
    table-layout: fixed
    width: 100%
    margin: 10px 0
    background: #f8f8f8
    col.checkbox
      width: 30px
      text-align: center
    col.actions
      width: 60px
      text-align: left
    col.colname,col.colnumber,col.coldate
      width: 120px
    col.coldata
      width: auto
    col.wide
      width: 50%
      width: auto
    input[type=checkbox]
      margin-left: 5px
    th
      padding: 6px 3px
      background: #e5e5e5
      font-weight: bold
      text-align: left
      a
        color: #3D3D3D
    td
      padding: 3px
      border-bottom: 1px dotted #DCDCDC
  .buttons-panel
    input:disabled
      background: -o-linear-gradient(#e6e4e4,#c0c0c0)
      background: -webkit-gradient(linear,left top,left bottom, from(#e6e4e4), to(#c0c0c0))
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e4e4', endColorstr='#c0c0c0')
      background: -moz-linear-gradient(top,#e6e4e4,#c0c0c0)
      text-shadow: -1px -1px 0 #999999

/* =Filter for list styles
 * This section contains
 * X
 */
.list-filter
  border: 0px solid #3185AF
  margin: 0px
  fieldset
    padding-left: 10px
    input[type=submit]
      clear: both
      margin-bottom: 10px

    ul
      list-style: none
      overflow: hidden
      padding: 0 !important
      margin: 0 !important
      li
        display: inline
        float: left
        margin-right: 10px
        padding-left: 0 !important
        img
          float: left
          margin-left: 3px
        label
          clear: right
          color: #0b0b0b
          float: left
        input[type=text]
          clear: left
          float: left
          width: 130px

/* =Paging for list styles
 * This section contains
 * TODO: rewrite this section based on root
 * X
 */
.digg_pagination
  text-align: center
  float: right


.digg_pagination .pager-info
  display: inline
  float: left
  margin-right: 15px
  line-height: 25px


.digg_pagination .pagination-block
  display: inline
  float: right
  margin-top: 3px
  em
    float: left
    font-style: normal
    padding: 2px 3px 0 0px
    width: 15px


.digg_pagination a, .digg_pagination span
  display: block
  float: left
  margin-right: 1px
  padding: .2em .5em


.digg_pagination span.disabled
  border: 0px solid #DDD
  color: #999


.digg_pagination span.current
  color: #a40305
  font-weight: bold
  margin-right: 0px


.previous_page
  text-indent: -5000px
  background: url(/assets/paging/previouspage.png) no-repeat
  height: 20px
  width: 10px


.next_page
  text-indent: -5000px
  background: url(/assets/paging/nextpage.png) no-repeat
  height: 20px
  width: 10px


.digg_pagination a
  color: #093668
  margin-right: 0px


.digg_pagination a:hover, .digg_pagination a:focus
  border-color: #003
  color: #003


.digg_pagination .page_info
  background: #2E6AB1
  margin-bottom: .3em
  padding: .4em .6em
  text-align: center
  width: 22em


.digg_pagination .page_info b
  background: #6aa6ed
  color: #003
  padding: .1em .25em


.digg_pagination:after
  clear: both
  content: "."
  display: block
  height: 0
  visibility: hidden


* html .digg_pagination
  height: 1%


*:first-child+html .digg_pagination
  overflow: hidden



/* =Form's flash styles
 * This section contains
 * TODO:
 */
#form-flash
  margin: 10px auto
  padding: 20px 20px 10px
  border: 3px solid #C4C4C4
  border-radius: 5px 5px 5px 5px
  margin: 20px auto 0
  padding: 20px 20px 10px
  .notice
    background: url(/assets/flashicons/notice_small.png) no-repeat
  .information
    background: url(/assets/flashicons/information_small.png) no-repeat
  .warning
    background: url(/assets/flashicons/warning_small.png) no-repeat
  .error
    background: url(/assets/flashicons/error_small.png) no-repeat
  .fatal
    background: url(/assets/flashicons/fatal_small.png) no-repeat
  div
    min-height: 30px
    padding-left: 30px

/* =Form's element styles
 * This section contains
 * TODO:
 */
.html-form
  padding: 10px
  overflow: hidden
  img
    clear: both
    float: left
    height: 30px
    margin: 15px auto 3px 140px
    width: 130px
  img+input[type="text"]
    clear: left
    float: left
    margin-top: 10px
  img+.field_with_errors
    input[type=text]
      margin-left: 10px
  label
    width: 140px
    float: left
    font-size: 12px
  .form-hint
    margin-left: 140px
    font-size: 10px
    clear: left
  input[type="submit"]
    margin-left: 140px
  input[type="file"]
    clear: left
    display: block
    margin-left: 140px
    margin-top: 10px
    float: left
  fieldset+p
    margin-left: 140px
    margin-top: 5px
    a
      margin-right: 7px
  .mandatory-sign
    color: #cc6666
  .html-form-header
    border: 0px solid blue
    p
      line-height: 150%
  .html-form-section
    border: 0px solid red
    overflow: hidden

    h2
      color: #384D64 !important
      font-size: 16px
      border-bottom: 1px solid #D5D5D5
      font-size: 15px
      margin: 0 !important
      padding-bottom: 6px !important
      padding-left: 0 !important
      label
        float: left
        width: 280px
        margin-left: 7px
        height: 26px
        clear: right
      input[type=radio]
        float: left
        clear: left
    p
      margin: 10px 10px 10px 0

  ul
    margin-left: 20px
  fieldset
    ul
      li
        list-style-type: none
        overflow: hidden
        display: block
        input[type=checkbox]
          float: left
          clear: right
          margin: 0px 10px 0 140px
        textarea
          border: 1px solid #949494
          color: #545454
          font-size: 12px
          height: 90px
          width: 75%
          float: left

/* =Error processing styles
 * This section contains
 * TODO:
 */
.html-form
  .fieldWithErrors
    display: inline
  .formError
    color: #a60304
    margin-left: 140px
    font-size: 11px
    clear: left
  #errorExplanation
    width: 400px
    background: url(/assets/decorators/error_explanation_header.png) top repeat-x  #feebcd
    -moz-border-radius: 2px
    border-radius: 2px
    margin-bottom: 10px
    margin-top: 10px
    padding: 10px 0px 15px 0px
    width: inherit
    h2
      background: none
      color: #a60304
      margin: 0 5px 5px 10px
      padding: 0 0 0 58px !important
      height: 49px
      background: url(/assets/flashicons/fatal_middle.png)  no-repeat 0px 0px
      border: 0
      font-size: 12px
    p
      color: #333
      margin-bottom: 0
      padding: 0 5px 5px
    h2+p
      margin-left: 10px
      margin-top: 5px
      padding-bottom: 0px
    ul
      margin-top: 5px
      margin-left: 11px !important
      font-size: 10px
      li
        list-style: none
        background: url(/assets/decorators/square.png) left 2px no-repeat
        padding-left: 15px
        padding-bottom: 0px
  fieldset
    input
      float: left
.calendar_date_select_popup_icon
  height: auto !important
  width: auto !important
  clear: none !important
  float: left !important
  margin: 0 auto auto 3px !important
/*
 * Special pages styles
 */
/* =AntHill welcome styles
 * This section contains
 * X
 */
#anthill
  img
    float: left
    margin-left: 165px
    margin-top: 20px
    width: 380px
  #features
    float: left
    margin-left: 25px
    margin-top: 10px
    width: 315px
    h1
      color: #993322
      font-size: 16px
      margin: 10px 0
    ul
      li
        background: url("/assets/decorators/square.png") no-repeat scroll left -1px transparent
        list-style: none outside none
        margin-top: 5px
        padding-left: 13px


/* =Decoders welcome styles
 * This section contains
 * X
 */
#decoders
  img
    float: left
    border: 0px
  #features
    float: right

/* =Google search styles
 * This section contains
 * X
 */
#search-result
  h1
    color: #993322
    font-size: 18px
    margin: 10px 0
    font-weight: bold

#cse-search-results
  iframe
    width: 100% !important

.cse-search-results
  background: white
  border: 1px solid #C8C7C7
  border-radius: 3px
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  margin-top: 5px
  padding: 0 10px

/* =Sitemap page styles
 * This section contains
 * X
 */
#sitemap
  .window-content
    padding: 10px 15px 30px
    > ul
      float: left
      > li
        border: 1px
        bordercolor: blue
        float: left
        > a
          text-decoration: none
          font-size: 14px !important
          color: #A40304 !important
          display: block
          padding-bottom: 9px
        > ul
          border-top: 1px solid #8eabc5
          margin-left: 0
          padding: 7px 8px
          a:hover
            text-decoration: underline
    ul
      li:nth-child(6n+1)
        clear: left
      li
        background: none
        padding-top: 4px
        padding-left: 0px
        a
          text-decoration: none
          font-size: 12px
          padding-right: 20px !important
          color: #0b0b0b

/* =Term of use styles
 * This section contains
 * X
 */
#term-of-use
  ul
    li
      background: none
      padding-left: 20px
  h2
    text-indent: 5px


/* =Html error page styles
 * This section contains
 * X
 */
#html-error
  .window-content
    p
      padding: 10px 10px 20px
    img
      float: left
      margin-right: 19px
      margin-top: 4px
    span
      font-size: 16px
      color: #BA0E12
      font-weight: bold
      display: block
      margin-bottom: 4px

