<div class="basic-form-header">
  <p>
    С помощью данной формы вы можете отследить статус заказа. Для этого есть два варианта:
    либо можно залогиниться и тогда вы увидете все свои заказы на своей личной странице,
    либо ввести почту на которую был оформлен заказ и номер накладной.
  </p>
  <%= render :partial => "shared/mandatory_message" %>
</div>
