<h1>Смена пароля.</h1>
<p>
  Запрос на смену пароля получен для пользователя <%= @user.login %>
</p>
<p>
  <% if @url %>
    Посетитие этот url для смены пароля: <%= @url %>.
    Если ничего не делать, то пароль останется прежним.
  <% end %>
</p>
