<% content_for :meta_keywords do %>
  <title>Orders at admin task zone</title>
  <meta name="keywords" content="mirwellnessa.ru" />
  <meta name="description" content="mirwellnessa.ru" />
<% end %>


<% content_for :list_menu do %>
  <%= render :partial => "/myaccount/shopping/templates/list_menu" %>
<% end %>


<%= render :partial => "filter" %>
<%= render :partial => "list" %>

